body {
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}
*:focus {
    outline: none;
}
audio {
    padding:0px 20px 3px 20px;
}
ul, audio, .label {
    border-radius: 5px;
    min-width:443px;
    list-style-type: none;
    margin: 0;
    display: block;
}
ul, .label {
    padding:20px 20px 3px 20px;
}
ul {
    padding: 0px 20px 0px 20px;
}
.label {
    color: #ddd;
}
#trackTitle {
    display: none; /* TODO: show this somewhere */
    color: #ccc;
    height: 25px;
}
marquee {
    position: absolute;
    left: 0;
}
#search {
    min-width: 200px;
    margin-top: 10px;
    border-radius: 15px;
    text-align: center;
    font-size: medium;
}
.group {
    background-color: rgba(64, 64, 64, 0.25);
    padding:10pt 0 10pt 0;
    border-radius: 20pt
}
.subdirs {
    max-height: 100pt;
    overflow-y: auto;
}
.playlist {
    overflow-y: auto;
}
.player {
    display: inline-block;
}
#drip {
    min-width: 350px;
    height: 58px;
    float: left;
    padding-top: 10px;
    margin-top: -69px;
}
.controls {
    width: fit-content;
    text-align: center;
    margin: 0 auto;
}
.button {
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: #555;
    padding: 5px;
    margin: 3px 2px 0px 2px;
}
.button:hover {
    background-color: #666;
}
.active {
    background-color: #777;
    color: #ccc;
}
.active:hover {
    background-color: #888;
}
li {
    background-color: #555;
    color: #aaa;
    padding: 5px;
    margin:3px 0 2px 0;
    border-radius: 3px;
    text-align: center;
}

li:hover {
    background-color: #666;
}
li div {
    display: inline-block;
    padding: 5px;
    width: fit-content;
}